# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.a
*.o

# Dependency directories
vendor/
bin/
build/

# Go modules
go.sum
go.work
go.work.sum

# IDE/editor config
.vscode/
.idea/
*.swp
*.swo

# Logs & cache
*.log
*.tmp
*.cache
